.delivery {
  background: #F2F4FA;
  padding: 80px;
  @media (max-width: $breakpoint600){
    padding: 60px 0;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    @media (max-width: $breakpoint992){
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__item {
    flex: 0 0 50%;
    @media (max-width: $breakpoint992){
      flex: 0 0 100%;
    }
    &:first-child {
      @media (max-width: $breakpoint480){
        text-align: center;
      }
    }
    &:last-child {
      @media (max-width: $breakpoint992){
        margin-top: 50px;
      }
      @media (max-width: $breakpoint480){
        margin-top: 25px;
        justify-content: center;
      }
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }

  &__title {
    margin-bottom: 24px;
    line-height: 38px;
  }

  &__text {
    font-family: $font2;
    font-weight: 300;
    max-width: 424px;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.5px;
      color: $mainColor
  }
}


.form {
}

.label {
  display: flex;
  gap: 4px;
  @media (max-width: $breakpoint480){
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
  }
}

.input {
  @media (max-width: $breakpoint480){
    min-width: 200px;
    padding: 12px 11px 8px 48px;
    min-height: 50px;
    height: 100%;
  }
  padding: 24px 16px 14px 48px;
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  min-width: 336px;
  width: 100%;
  background: url(../img/location.svg) no-repeat;
  background-position: 20px 50%;
  background-color: #fff; 
  &__btn {
    padding: 26px 24px;
    background-color: $yellowColor;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: #B79C10;
    border-radius: 4px;
    @media (max-width: $breakpoint480){
      padding: 12px 18px;
    }
  }
  &::placeholder {
    font-family: $font2;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: $greyColor;
    position: relative;
    @media (max-width: $breakpoint480){
      font-size: 14px;
      line-height: 16px;
    }
  }
}