.footer {
  background-color: $mainColor;
  padding: 48px 0;
  a {
    color: #fff;
  }
  &__wrapper {}

  &__top {
    margin-bottom: 100px;
    @media (max-width: $breakpoint992){
      margin-bottom: 70px;
    }
    @media (max-width: $breakpoint768){
      margin-bottom: 50px;
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    @media (max-width: $breakpoint992){
      gap: 20px;
    }
    @media (max-width: $breakpoint768){
      flex-wrap: wrap;
    }
  }

  &__item {
    &:first-child {
      @media (max-width: $breakpoint992){
        min-width: 170px;
      }
      @media (max-width: $breakpoint768){
        display: flex;
        gap: 40px;
        align-items: center;
        margin-bottom: 15px;
      }
      @media (max-width: $breakpoint480){
        flex-wrap: wrap;
        gap: 10px;
      }  
    }
    // flex: 1 1 20%;
    // &:last-child {
    //   flex: 1 1 80%;
    //   justify-content: flex-end;
    // }
  }

  &__logo {
    padding-bottom: 48px;
    @media (max-width: $breakpoint768){
      padding-bottom: 0;
    }
  }

  &__apps {
    display: flex;
    gap: 9px;
    padding-top: 48px;
    border-top: 1px solid #D4D7E6;
    @media (max-width: $breakpoint768){
      padding-top: 0;
      border: none;
    }
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    gap: 85px;
    @media (max-width: $breakpoint992){
      gap: 20px;
    }
    @media (max-width: $breakpoint600){
      flex-wrap: wrap;
      row-gap: 40px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    @media (max-width: $breakpoint600){
      flex: 1 1 40%;
    }
  }

  &__icon {
    @media (max-width: $breakpoint600){
      font-size: 14px;
      line-height: 16px;
    }
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.5px;
    a {
      color: #D4D7E6;
    }
    
  }

  &__icon-title {
    @media (max-width: $breakpoint600){
      font-size: 20px;
      line-height: 20px;
    }
    font-family: $font4;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 8px;
    a {
      color: #fff;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $breakpoint480){
      gap: 15px;
      flex-wrap: wrap-reverse;
      justify-content: center;
    }
  }

  &__social {
    display: flex;
    gap: 25px;
    @media (max-width: $breakpoint600){
      gap: 15px;
    }
  }

  &__info {
    @media (max-width: $breakpoint600){
      gap: 20px;
    }
    @media (max-width: $breakpoint480){
      gap: 10px;
      font-size: 11px;
    }
    display: flex;
    gap: 55px;
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 16px;
  }
}
