// Container
.container {
    max-width: ($containerWidth + $containerPadding) + px;
    width: 100%;
    margin: 0 auto;
    padding: 0 $containerSidePadding + px;

    @media (max-width: $breakpoint1450) {
        max-width: 1200px;
    }

    @media (max-width: $breakpoint992) {
        max-width: 970px;
    }

    @media (max-width: $breakpoint768) {
        max-width: 740px;
    }

    @media (max-width: $breakpoint480) {
        max-width: none;
    }
}

// Body & Locked
body {
    font-family: $fontMain;
    &.locked {
        overflow: hidden;
    }
    // Dark mode styles
    &.dark {
        background: #242424;
    }
  overflow-x: hidden;  
}

// Animations
// Fade
@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.title {
  @media (max-width: $breakpoint992){
    font-size: 32px;
    line-height: 58px;
  }
  @media (max-width: $breakpoint768) {
    font-size: 26px;
    line-height: 50px;
  }
  @media (max-width: $breakpoint480){
    font-size: 24px;
    line-height: 40px;
  }
  font-family: $font3;
  font-weight: 300;
  font-size: 36px;
  line-height: 64px;
  letter-spacing: 0.08em;
  color: $mainColor
}

.btn {
  @media (max-width: $breakpoint480){
    font-size: 14px;
    padding: 12px 20px;
  }
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: $greyColor;
  padding: 14px 24px;
  background: #F2F4FA;
  border-radius: 4px;
  max-height: 48px;
  &:hover {
    background-color: $yellowColor;
    color: #fff;
    transition: 0.4s ease;
  }
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}