.statistics {
  padding: 79px 0 45px 0;
  background-image: url(../img/statistics-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  &__wrapper {
    @media (max-width: $breakpoint992){
      flex-wrap: wrap;
      gap: 40px;
    }
    @media (max-width: $breakpoint600){
      gap: 20px;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 82px;
  }

  &__item {
    @media (max-width: $breakpoint992){
      flex: 0 0 40%;
    }
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 150px;
    position: relative;
      &:after {
      position: absolute;
      content: "";
      background-color: $yellowColor; 
      width: 127px;
      height: 127px;
      border-radius: 100%;
      top: 23px;
    }
  }

  &__title {
    font-family: $font8;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 36px;
    // padding: 36px 35px 23px 24px;
    border: 1px solid #B79C10;
    border-radius: 100%;
    max-width: 127px;
    max-height: 127px;
    width: 100%;
    height: 100%;
    font-weight: 700;
    font-size: 58px;
    line-height: 64px;
    letter-spacing: 0.05em;
    color: $mainColor;
    z-index: 2;
  }

  &__text {
    @media (max-width: $breakpoint768){
      font-size: 18px;
    }
    margin-top: 24px;
    font-family: $font4;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: $mainColor;
  }
}